<div id="layout">
  <!-- Header-->


  <!-- End Header-->



  <div class="section-title" style="background:url()">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Page full width</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4>Programme ATHLE-SANTE</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p><strong>LES SEANCES « ATHLE-SANTE »  &nbsp;</strong></p>
              <ul>
                <li style="line-height: 1.5;">Les séances «athlé-santé» sont particulières, elles demandent une connaissance de l’état de santé des adhérents.
                  Les séances sont collectives mais doivent être personnalisées à chacun en fonction de la pathologie concernée, il n’est donc pas nécessaire  de faire des groupes « spécifiques ».
                  Il est conseillé de regrouper plusieurs types de pathologie dans un même groupe.
                  &nbsp;</li>

              </ul>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="src/assets/img/Capture.jpg" alt="">
            </div>
            <div class="col-md-8">
              <p><strong>Les adhérents « ATHLE-SANTE » &nbsp;</strong></p>
              <p>Les séances &nbsp;athlé-santé regroupent l’ensemble des adhérents ayant des soucis de SANTE, que ce soit :</p>
              <ul style="list-style-type: disc;">
                <li>Des maladies telles que:</li>
              </ul>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - &nbsp;Les personnes en situation d’obésité</p>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - &nbsp;Les personnes diabétiques</p>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp; Insuffisance cardiaque</p>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - &nbsp;Parkinson</p>
              <ul style="list-style-type: disc;">
                <li>Des handicaps, tels que :</li>
              </ul>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp; Prothèse de toutes sortes (genoux, hanches, …)</p>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp; Déficience visuelle, auditive</p>
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp; Déficience mentale</p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p><span style="font-family: Calibri, sans-serif; font-size: 18px;"><strong>Les objectifs émanant du coach « ATHLE-SANTE » </strong></span></p>
             <p>Ce qu’il va faire travailler à chacune des séances et qui provient du domaine physique :</p>
              <ul>
                <li style="line-height: 1.5;">Travail d’équilibre</li>
                <li style="line-height: 1.5;"> Agilité</li>
                <li style="line-height: 1.5;">Coordination</li>
                <li style="line-height: 1.5;">Souplesse</li>
                <li style="line-height: 1.5;">Variation des allures</li>
                <li style="line-height: 1.5;">Se mouvoir dans l’espace</li>
                <li style="line-height: 1.5;">Travail de la mémoire</li>
                <li style="line-height: 1.5;"> Renforcement musculaire</li>
              </ul>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p><span style="font-family: Calibri, sans-serif; font-size: 18px;"><strong>PROGRAMME DE FORMATION DES COACHS ATHLE-SANTE </strong></span></p>
              <p><span style="color: rgb(235, 107, 86);"><strong>Durée de formation &nbsp; : 12jours</strong></span></p>
              <p><span style="color: rgb(235, 107, 86);"><strong>Instructeurs &nbsp;: 6 instructeurs</strong></span></p>
            </div>
          </div>
              <div class="row padding-top-mini">
                <div class="col-md-8">
              <p><strong><span style="font-size: 14px;">Contenue de la formation :</span></strong></p>
              <ul>
                <li style="line-height: 1.5;">Introduction à la formation Athlé - santé </li>
                <li style="line-height: 1.5;">Bioénergétique </li>
                <li style="line-height: 1.5;">Renforcement musculaire, étirements </li>
                <li style="line-height: 1.5;">Obésité, diabète , hypertension </li>
                <li style="line-height: 1.5;">Vieillissement, Ostéoporose </li>
                <li style="line-height: 1.5;">Running</li>
                <li style="line-height: 1.5;">Nutrition</li>
                <li style="line-height: 1.5;">Secourisme</li>
                <li style="line-height: 1.5;">Randonné, pédestre</li>
                <li style="line-height: 1.5;">Communication évènementielle</li>
                <li style="line-height: 1.5;">Evaluation pédagogique</li>
                <li style="line-height: 1.5;">Projet d’animation</li>
                <li style="line-height: 1.5;">Les tests d’évaluation</li>
                <li style="line-height: 1.5;">Dépistage et détection précoce des MNT</li>
                <li style="line-height: 1.5;">Cardio , techniques douces</li>
                <li style="line-height: 1.5;">Pneumologie</li>
                <li style="line-height: 1.5;">Course d’orientation</li>
              </ul>
                </div>
              </div>

            <div class="col-md-4">
              <img class="img-responsive" src="src/assets/img/imgprojet.jpg" alt="">
            </div>
          </div>

        </div>

      <!-- End Content Text-->

    </div>
  </section>
</div>
