
<!-- layout-->
<div id="layout">


  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Evènement</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <div class="row">

        <div class="col-lg-12">
          <!-- Content Text-->


            <!-- Post Item -->
              <div class="panel-box">
                <div class="titles">
                  <h4>Demance Licence Master</h4>
                <div class="info-panel">
                  <!-- Form Contact -->
                  <form class="form-theme" >
                    <div class="row">
                      <div class="col-md-6">
                        <label>Club *</label>
                        <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                      </div>
                      <div class="col-md-3">
                        <label>Ligue *</label>
                        <input type="email"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">

                        <input type="text"  required="required" disabled value="Saison: 2019/2020" maxlength="100"
                               class="form-control" name="Email" id="">
                      </div>
                      <div class="col-md-3">
                        <input type="text"  required="required" disabled value="Enregistrement OU Renouvellement" maxlength="100"
                               class="form-control" name="Email" id="">
                      </div>
                    </div>
                    <!-- Nom et prenom -->
                    <div class="row">
                      <div class="col-md-6">
                        <label>Nom *</label>
                        <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                      </div>
                      <div class="col-md-3">
                        <label>Prénom *</label>
                        <input type="email"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                      </div>
                    </div>
                    <!-- Fin nom et prenom -->

                    <!-- Date et Lieu -->
                    <div class="row">
                      <div class="col-md-6">
                        <label>Date et Lieu de Naissance *</label>
                        <input type="text"  required="required" value="" maxlength="100" class="form-control"
                               name="Name" id="date">
                      </div>
                    </div>
                    <!-- Fin Date et Lieu -->

                    <!-- Sexe Taille Poids -->
                    <div class="row">
                      <div class="col-md-3">
                        <label>Club *</label>
                        <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                      </div>
                      <div class="col-md-3">
                        <label>Ligue *</label>
                        <input type="email"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                      </div>
                      <div class="col-md-3">
                        <label>Ligue *</label>
                        <input type="email"  required="required" value="" maxlength="100" class="form-control"
                               name="Email" id="email">
                      </div>
                    </div>
                    <!-- Fin Sexe Taille Poids -->

                    <div class="row">
                      <div class="col-md-6">
                        <label>Club *</label>
                        <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                      </div>
                      <div class="col-md-3">
                        <label>Ligue *</label>
                        <input type="email"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <input type="submit" value="Send Message" class="btn btn-lg btn-primary">
                      </div>
                    </div>
                  </form>
                  <!-- End Form Contact -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="result"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <!-- End Post Item -->

        </div>
          <!-- End Content Text-->
        </div>
      </div>



  </section>
  <!-- End Section Area -  Content Central -->
</div>
<!-- End layout-->
