<div class="col-lg col-xl" >
  <div class="panel-box">
    <div class="titles">
      <h2><b>Historique</b></h2>
    </div>
    <div>
        <div class="section-title single-player" style="background:url(assets/img/presentation/habiba2.jpg)"></div>
      <section class="content-info">
        <div class="single-player-tabs">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-xl-3">
                <div class="item-player single-player">
                  <div class="head-player">
                    <img src="assets/img/presentation/habiba1.jpg" alt="location-team"/>
                  </div>
                  <div class="info-player">
                    <h4>
                      Habiba Ghribi
                    </h4>
                    <ul>
                      <li>
                        <strong>Nationalité:</strong> <span><img src="assets/img/clubs-logos/tunisie.png" alt=""/>Tunisienne</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-xl-9">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="myTab_habiba">
                  <li class="active"><a href="#overview_habiba" data-toggle="tab">Overview</a></li>
                  <li><a href="#stats_habiba" data-toggle="tab">STATS</a></li>
                </ul>
                <!-- End Nav Tabs -->

                <!-- Content Tabs -->
                <div class="tab-content" style="width: 800px">
                  <!-- Tab One - overview -->
                  <div class="tab-pane active" id="overview_habiba">

                    <div class="panel-box padding-b">
                      <div class="titles">
                        <h4>Aperçu de Habiba</h4>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-xl-8">
                          <p style="font-size: 20px">Une athlète, spécialiste des 3000m Steeple
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Tab Theree - stats -->
                  <div class="tab-pane" id="stats_habiba">
                    <div class="row">
                      <div class="col-lg-6 col-xl-5">
                        <!-- Attack -->
                        <div class="panel-box">
                          <div class="titles no-margin">
                            <h4>Palmarès</h4>
                          </div>
                          <ul class="list-panel">
                            <li>
                              <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                <img src="assets/img/icons/terre.png" alt="FTA" align="left" class="logo_img"
                                     height="40" width="25" style="margin-left: 2px">
                                <b style="color: #01d099;margin-left: 5px"> Championne du monde 2011</b>
                            </li>
                            <li>
                              <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                <img src="assets/img/icons/olympique.png" alt="FTA" align="left" class="logo_img"
                                     height="40" width="32">
                                <b style="color: #01d099">Championne olympique 2012</b>
                            </li>
                            <li>
                              <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                <img src="assets/img/icons/terre.png" alt="FTA" align="left" class="logo_img"
                                     height="40" width="25" style="margin-left: 2px">
                                <b style="color: #01d099;margin-left: 5px"> Vice-championne du monde 2015</b>
                            </li>

                          </ul>
                        </div>
                        <!-- End Attack -->
                      </div>
                      <div class="col-lg-6 col-xl-5">
                        <!-- Attack -->
                        <div class="panel-box">
                          <div class="titles no-margin">
                            <h4>Distinctions et décorations
                            </h4>
                          </div>
                          <ul class="list-panel">
                            <li><p>Troisième classe de l’Ordre de la République<span> </span>
                              <p>
                            </li>
                            <li><p>Ambassadrice de l’Académie internationale des athlètes pour la culture de la paix
                              <span> </span>
                              <p>
                            </li>

                            <li>
                              <p>Médaille d’or de la commémoration de la paix remise par l’Association internationale
                                des soldats de la paix
                                <span> </span>
                              <p>
                            </li>
                            <li>
                              <p>Femme arabe de l'année 2015
                                <span> </span>
                              <p>
                            </li>
                            <li>
                              <p>Meilleure sportive arabe de l’année 2015 sélectionnée par l’Union arabe des
                                journalistes sportifs
                                <span> </span>
                              <p>
                            </li>

                          </ul>
                        </div>
                        <!-- End Attack -->
                      </div>
                    </div>

                  </div>
                  <!-- End Tab Theree - stats -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
        <div>
          <div class="section-title single-player" style="background:url(assets/img/presentation/Gammoudi2.jpg)">
          </div>
          <section class="content-info">
            <div class="single-player-tabs">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-xl-3">
                    <div class="item-player single-player">
                      <div class="head-player">
                        <img src="assets/img/presentation/Gammoudi1.jpg" alt="location-team"/>
                      </div>
                      <div class="info-player">
                        <h4>
                          Mohamed Gammoudi
                        </h4>
                        <ul>
                          <li>
                            <strong>Nationalité:</strong> <span><img src="assets/img/clubs-logos/tunisie.png" alt=""/>Tunisienne</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- end Side info single team-->

                  <div class="col-lg-8 col-xl-9">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs info-slider " id="myTab">
                      <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                      <li><a href="#stats" data-toggle="tab">STATS</a></li>
                    </ul>
                    <div class="tab-content" style="width: 800px">
                      <!-- Tab One - overview -->
                      <div class="tab-pane active" id="overview" >
                        <div class="panel-box padding-b">
                          <div class="titles">
                            <h4>Aperçu de Mohammed</h4>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-xl-8">
                              <p style="font-size: 20px">Champion Olympique du 5 000m en 1968, spécialité courses de fond,
                                il est le sportif Tunisien le plus médaillé de l’histoire des Jeux. Il est également le seul
                                athlète tunisien à avoir remporté un titre Olympique jusqu’au 2008.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Tab Theree - stats -->
                      <div class="tab-pane" id="stats">
                        <div class="row">
                          <div class="col-lg-12 col-xl-9">
                            <!-- Attack -->
                            <div class="panel-box">
                              <div class="titles no-margin">
                                <h4>Palmarès</h4>
                              </div>
                              <ul class="list-panel">
                                <li><p>Jeux olympiques d'été de 1964 à Tokyo:
                                  <p style="font-family: sans-serif;color: #01d099;font-size: 16px ">
                                    <img src="assets/img/icons/silver.png" alt="FTA" align="left" class="logo_img"
                                         height="40" width="25" style="margin-left: 4px">
                                    <b style="color: #01d099;margin-left 3px">Médaille d'argent sur 10 000 mètres</b>
                                </li>
                                <li><p> Jeux olympiques d'été de 1968 à Mexico:
                                  <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                    <img src="assets/img/icons/gold.png" alt="FTA" align="left" class="logo_img" height="40"
                                         width="32">
                                    <b style="color: #01d099"> Médaille d'or sur 5 000 mètres</b>
                                  <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                    <img src="assets/img/icons/bronze.png" alt="FTA" align="left" class="logo_img"
                                         height="35" width="25" style="margin-left: 3px">
                                    <b style="color: #01d099">  Médaille de bronze sur 10 000 mètres</b>
                                </li>
                                <li><p> Jeux olympiques d'été de 1972 à Munich:
                                  <p style="font-family: sans-serif;color: #01d099;font-size: 16px">
                                    <img src="assets/img/icons/silver.png" alt="FTA" align="left" class="logo_img"
                                         height="40" width="25" style="margin-left: 4px">
                                    <b style="color: #01d099;margin-left: 3px ">Médaille d'argent sur 5 000 mètres</b>
                                </li>

                              </ul>
                            </div>
                            <!-- End Attack -->
                          </div>
                        </div>

                      </div>
                      <!-- End Tab Theree - stats -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
  </div>
</div>

