

<!-- layout-->
<div id="layout">

  <!-- Google Map -->

  <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.052679869607!2d10.193959670600623!3d36.84121437859559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c0558cb509%3A0x108aa6111a1ea2e4!2sMaison%20des%20Federations%20Sportives!5e0!3m2!1sfr!2stn!4v1579544911643!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

  </div>
  <!-- End Google Map -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container">
      <div class="row paddings-mini">
        <!-- Left Content -->
        <div class="col-md-4">
          <aside class="panel-box">
            <div class="titles no-margin">
              <h4>Adresse</h4>
            </div>
            <div class="info-panel">
              <address>
                <strong>
                  FÉDÉRATION TUNISIENNE D'ATHLÈTISME</strong><br>
                  Club d'athlétisme<br>

                <i class="fa fa-map-marker"></i><strong>Adresse: </strong> rue 8840, Tunis 1003<br>
                <i class="fa fa-plane"></i><strong>Cité: </strong>Cite Mahrajene 1082 Tunis<br>
                <i class="fa fa-phone"></i> <abbr title="Phone">Tel: </abbr> +216 71 751 903
                <i class="fa fa-phone"></i> <abbr title="Phone">Fax: </abbr> +216 71 755 900
              </address>
            </div>
          </aside>

          <aside class="panel-box">
            <div class="titles no-margin">
              <h4>Contactez Nous</h4>
            </div>
            <div class="info-panel">
              <address>
                <i class="fa fa-envelope"></i><strong>Email:</strong><a href="mailto:#"> FTA@FTA.TN</a><br>
              </address>
            </div>
          </aside>
        </div>
        <!-- End Left Content -->

        <!-- Right Content -->
        <div class="col-md-8">
          <div class="panel-box">
            <div class="titles no-margin">
              <h4>Contact Form</h4>
            </div>
            <div class="info-panel">
              <!-- Form Contact -->
              <form class="form-theme" action="http://html.iwthemes.com/sportscup/run/php/send-mail.php">
                <div class="row">
                  <div class="col-md-6">
                    <label>Your name *</label>
                    <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                  </div>
                  <div class="col-md-6">
                    <label>Your email address *</label>
                    <input type="email"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Subject *</label>
                    <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Comment *</label>
                    <textarea maxlength="5000" rows="10" class="form-control" name="message"  style="height: 138px;" required="required" ></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Send Message" class="btn btn-lg btn-primary">
                  </div>
                </div>
              </form>
              <!-- End Form Contact -->
              <div class="row">
                <div class="col-md-12">
                  <div class="result"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Content -->
      </div>
    </div>

    <!-- Newsletter -->
    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
              <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
            </div>
            <form id="newsletterForm" action="http://html.iwthemes.com/sportscup/run/php/mailchip/newsletter-subscribe.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                  </div>
                </div>
              </div>
            </form>
            <div id="result-newsletter"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Newsletter -->
  </section>
  <!-- End Section Area -  Content Central -->

</div>
