<!-- Content Central -->
<section class="container">
  <div class="row padding-top">
    <!-- Accordion -->
    <div class="col-md-12">
      <!-- Info -->
      <div class="panel-box">
        <div class="titles no-margin">
          <h4><i class="fa fa-coffee"></i>Les listes des records </h4>
        </div>
        <!-- Accorodion Faq -->
        <div class="row">
          <div class="accrodation">
            <!-- section 1 -->
            <span class="acc-trigger"><a routerLink="/records_In">Les records Tunisie INDOORS/EN SALLE</a></span>
            <div class="acc-container" style="display: none;">
              <div class="content">
                <li><a routerLink="/records_In"></a>Tableaux des records de Tunisie INDOORS</li>

              </div>
            </div>
            <!-- section 3 -->
            <span class="acc-trigger"><a routerLink="/records_Dame">Les records Tunise Dammes </a></span>
            <div class="acc-container" style="display: none;">
              <div class="content">
                <li><a routerLink="/records_Dame">Les records Tunise Dammes</a></li>
              </div>
            </div>

            <!-- section 4 -->
            <span class="acc-trigger"><a routerLink="/recordH">Les records Tunisie Homme</a></span>
            <div class="acc-container" style="display: none;">
              <div class="content">
                Liste finale des participants :
                <li><a routerLink="/recordH">Les records Tunisie Homme</a></li>

              </div>
            </div>
          </div>
        </div>
        <!-- End Accorodion Faq -->
      </div>
      <!-- End Info-->
    </div>
    <!-- End Accordion -->
  </div>
</section>
<!-- End Content Central -->
