<!-- layout-->
<div id="layout">


    <!-- Section Title -->
    <div class="section-title" style="background:url(../../../assets/img/slide/1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1></h1>
                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Inner Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title -->
    <br>
    <br>
</div>
    <div style="font-size: xx-small">
        <br>
        <br>
        <strong><h3 class="text-center"> Minimas des Athlètes ciblés <br> Saison sportive 2019-2020</h3></strong>

        <table>
            <tbody>
            <tr>
                <td colspan="8">
                    <p><strong>Hommes</strong></p>
                </td>
                <td rowspan="3">
                    <p><strong>Epreuves</strong></p>
                </td>
                <td colspan="8">
                    <p><strong>Dames</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><strong>U18</strong></p>
                </td>
                <td colspan="2">
                    <p><strong>U20</strong></p>
                </td>
                <td colspan="3">
                    <p><strong>U23</strong></p>
                </td>
                <td>
                    <p><strong>Elite Seniors</strong></p>
                </td>
                <td colspan="2">
                    <p><strong>U18</strong></p>
                </td>
                <td colspan="2">
                    <p><strong>U20</strong></p>
                </td>
                <td colspan="3">
                    <p><strong>U23</strong></p>
                </td>
                <td>
                    <p><strong>Elite Seniors</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>C.1</strong></p>
                </td>
                <td>
                    <p><strong>C.2</strong></p>
                </td>
                <td>
                    <p><strong>J.1</strong></p>
                </td>
                <td>
                    <p><strong>J.2</strong></p>
                </td>
                <td>
                    <p><strong>U23.1</strong></p>
                </td>
                <td>
                    <p><strong>U23.2</strong></p>
                </td>
                <td>
                    <p><strong>U23.3</strong></p>
                </td>
                <td>
                    <p><strong>E.N</strong></p>
                </td>
                <td>
                    <p><strong>C.1</strong></p>
                </td>
                <td>
                    <p><strong>C.2</strong></p>
                </td>
                <td>
                    <p><strong>J.1</strong></p>
                </td>
                <td>
                    <p><strong>J.2</strong></p>
                </td>
                <td>
                    <p><strong>U23.1</strong></p>
                </td>
                <td>
                    <p><strong>U23.2</strong></p>
                </td>
                <td>
                    <p><strong>U23.3</strong></p>
                </td>
                <td>
                    <p><strong>E.N</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>11.20</strong></p>
                </td>
                <td>
                    <p><strong>10.90</strong></p>
                </td>
                <td>
                    <p><strong>10.75</strong></p>
                </td>
                <td>
                    <p><strong>10.60</strong></p>
                </td>
                <td>
                    <p><strong>10.50</strong></p>
                </td>
                <td>
                    <p><strong>10.42</strong></p>
                </td>
                <td>
                    <p><strong>10.35</strong></p>
                </td>
                <td>
                    <p><strong>10.25</strong></p>
                </td>
                <td>
                    <p><strong>100m</strong></p>
                </td>
                <td>
                    <p><strong>12.60</strong></p>
                </td>
                <td>
                    <p><strong>12.30</strong></p>
                </td>
                <td>
                    <p><strong>12.10</strong></p>
                </td>
                <td>
                    <p><strong>11.90</strong></p>
                </td>
                <td>
                    <p><strong>11.85</strong></p>
                </td>
                <td>
                    <p><strong>11.70 </strong></p>
                </td>
                <td>
                    <p><strong>11.60</strong></p>
                </td>
                <td>
                    <p><strong>11.40</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>22.75</strong></p>
                </td>
                <td>
                    <p><strong>22.30</strong></p>
                </td>
                <td>
                    <p><strong>21.85</strong></p>
                </td>
                <td>
                    <p><strong>21.55</strong></p>
                </td>
                <td>
                    <p><strong>21.45</strong></p>
                </td>
                <td>
                    <p><strong>21.30</strong></p>
                </td>
                <td>
                    <p><strong>21.10</strong></p>
                </td>
                <td>
                    <p><strong>20.80</strong></p>
                </td>
                <td>
                    <p><strong>200m</strong></p>
                </td>
                <td>
                    <p><strong>25.70</strong></p>
                </td>
                <td>
                    <p><strong>25.30</strong></p>
                </td>
                <td>
                    <p><strong>25.00</strong></p>
                </td>
                <td>
                    <p><strong>24.50</strong></p>
                </td>
                <td>
                    <p><strong>24.30</strong></p>
                </td>
                <td>
                    <p><strong>24.10</strong></p>
                </td>
                <td>
                    <p><strong>23.90</strong></p>
                </td>
                <td>
                    <p><strong>23.30</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>51.50</strong></p>
                </td>
                <td>
                    <p><strong>49.50</strong></p>
                </td>
                <td>
                    <p><strong>47.90</strong></p>
                </td>
                <td>
                    <p><strong>47.30</strong></p>
                </td>
                <td>
                    <p><strong>47.00</strong></p>
                </td>
                <td>
                    <p><strong>46.50</strong></p>
                </td>
                <td>
                    <p><strong>45.80</strong></p>
                </td>
                <td>
                    <p><strong>45.40</strong></p>
                </td>
                <td>
                    <p><strong>400m</strong></p>
                </td>
                <td>
                    <p><strong>60.00</strong></p>
                </td>
                <td>
                    <p><strong>58.00</strong></p>
                </td>
                <td>
                    <p><strong>57.60</strong></p>
                </td>
                <td>
                    <p><strong>55.40</strong></p>
                </td>
                <td>
                    <p><strong>55.20</strong></p>
                </td>
                <td>
                    <p><strong>54.80</strong></p>
                </td>
                <td>
                    <p><strong>54.10</strong></p>
                </td>
                <td>
                    <p><strong>53.00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp; 1.58</strong></p>
                </td>
                <td>
                    <p><strong>1.54</strong></p>
                </td>
                <td>
                    <p><strong>1.52</strong></p>
                </td>
                <td>
                    <p><strong>1.50</strong></p>
                </td>
                <td>
                    <p><strong>1.49</strong></p>
                </td>
                <td>
                    <p><strong>1.48</strong></p>
                </td>
                <td>
                    <p><strong>1.47</strong></p>
                </td>
                <td>
                    <p><strong>1.46</strong></p>
                </td>
                <td>
                    <p><strong>800m</strong></p>
                </td>
                <td>
                    <p><strong>2.15</strong></p>
                </td>
                <td>
                    <p><strong>2.13</strong></p>
                </td>
                <td>
                    <p><strong>2.11</strong></p>
                </td>
                <td>
                    <p><strong>2.08</strong></p>
                </td>
                <td>
                    <p><strong>2.06</strong></p>
                </td>
                <td>
                    <p><strong>2.04</strong></p>
                </td>
                <td>
                    <p><strong>2.02</strong></p>
                </td>
                <td>
                    <p><strong>2.00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp; 4.00</strong></p>
                </td>
                <td>
                    <p><strong>3.54</strong></p>
                </td>
                <td>
                    <p><strong>3.48</strong></p>
                </td>
                <td>
                    <p><strong>3.45</strong></p>
                </td>
                <td>
                    <p><strong>3.42</strong></p>
                </td>
                <td>
                    <p><strong>3.40</strong></p>
                </td>
                <td>
                    <p><strong>3.39</strong></p>
                </td>
                <td>
                    <p><strong>3.37</strong></p>
                </td>
                <td>
                    <p><strong>1500m</strong></p>
                </td>
                <td>
                    <p><strong>4.48</strong></p>
                </td>
                <td>
                    <p><strong>4.40</strong></p>
                </td>
                <td>
                    <p><strong>4.35</strong></p>
                </td>
                <td>
                    <p><strong>4.20</strong></p>
                </td>
                <td>
                    <p><strong>4.18</strong></p>
                </td>
                <td>
                    <p><strong>4.16</strong></p>
                </td>
                <td>
                    <p><strong>4.14</strong></p>
                </td>
                <td>
                    <p><strong>4.06</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp; 8.35</strong></p>
                </td>
                <td>
                    <p><strong>8.25</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>3000m</strong></p>
                </td>
                <td>
                    <p><strong>10.48</strong></p>
                </td>
                <td>
                    <p><strong>10.35</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>14.40</strong></p>
                </td>
                <td>
                    <p><strong>14.20</strong></p>
                </td>
                <td>
                    <p><strong>14.00</strong></p>
                </td>
                <td>
                    <p><strong>13.50</strong></p>
                </td>
                <td>
                    <p><strong>13.40</strong></p>
                </td>
                <td>
                    <p><strong>13.30</strong></p>
                </td>
                <td>
                    <p><strong>5000m</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>17.20</strong></p>
                </td>
                <td>
                    <p><strong>16.30</strong></p>
                </td>
                <td>
                    <p><strong>16.20</strong></p>
                </td>
                <td>
                    <p><strong>16.10</strong></p>
                </td>
                <td>
                    <p><strong>16.00</strong></p>
                </td>
                <td>
                    <p><strong>15.40</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>14.70</strong></p>
                </td>
                <td>
                    <p><strong>14.40</strong></p>
                </td>
                <td>
                    <p><strong>14.20</strong></p>
                </td>
                <td>
                    <p><strong>14.00</strong></p>
                </td>
                <td>
                    <p><strong>14.00</strong></p>
                </td>
                <td>
                    <p><strong>13.90</strong></p>
                </td>
                <td>
                    <p><strong>13.80</strong></p>
                </td>
                <td>
                    <p><strong>13.50</strong></p>
                </td>
                <td>
                    <p><strong>100mh/110mh</strong></p>
                </td>
                <td>
                    <p><strong>14.60</strong></p>
                </td>
                <td>
                    <p><strong>14.40</strong></p>
                </td>
                <td>
                    <p><strong>14.30</strong></p>
                </td>
                <td>
                    <p><strong>14.00</strong></p>
                </td>
                <td>
                    <p><strong>14.00</strong></p>
                </td>
                <td>
                    <p><strong>13.90</strong></p>
                </td>
                <td>
                    <p><strong>13.80</strong></p>
                </td>
                <td>
                    <p><strong>13.70</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>56.00</strong></p>
                </td>
                <td>
                    <p><strong>53.80</strong></p>
                </td>
                <td>
                    <p><strong>52.30</strong></p>
                </td>
                <td>
                    <p><strong>51.30</strong></p>
                </td>
                <td>
                    <p><strong>51.00</strong></p>
                </td>
                <td>
                    <p><strong>50.50</strong></p>
                </td>
                <td>
                    <p><strong>49.90</strong></p>
                </td>
                <td>
                    <p><strong>49.50</strong></p>
                </td>
                <td>
                    <p><strong>400mH</strong></p>
                </td>
                <td>
                    <p><strong>66.00</strong></p>
                </td>
                <td>
                    <p><strong>64.00</strong></p>
                </td>
                <td>
                    <p><strong>62.30</strong></p>
                </td>
                <td>
                    <p><strong>61.20</strong></p>
                </td>
                <td>
                    <p><strong>60</strong></p>
                </td>
                <td>
                    <p><strong>59</strong></p>
                </td>
                <td>
                    <p><strong>58</strong></p>
                </td>
                <td>
                    <p><strong>57.50</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp; 6.20</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;6.10</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>2000mStep</strong></p>
                </td>
                <td>
                    <p><strong>7.10</strong></p>
                </td>
                <td>
                    <p><strong>7.00</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>9.05</strong></p>
                </td>
                <td>
                    <p><strong>8.48</strong></p>
                </td>
                <td>
                    <p><strong>8.42</strong></p>
                </td>
                <td>
                    <p><strong>8.37</strong></p>
                </td>
                <td>
                    <p><strong>8.31</strong></p>
                </td>
                <td>
                    <p><strong>8.25</strong></p>
                </td>
                <td>
                    <p><strong>3000m Stp</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>11.00</strong></p>
                </td>
                <td>
                    <p><strong>10.40</strong></p>
                </td>
                <td>
                    <p><strong>10.20</strong></p>
                </td>
                <td>
                    <p><strong>10.05</strong></p>
                </td>
                <td>
                    <p><strong>9.50</strong></p>
                </td>
                <td>
                    <p><strong>9.35</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>1m80</strong></p>
                </td>
                <td>
                    <p><strong>1m90</strong></p>
                </td>
                <td>
                    <p><strong>2m06</strong></p>
                </td>
                <td>
                    <p><strong>2m15</strong></p>
                </td>
                <td>
                    <p><strong>2m16</strong></p>
                </td>
                <td>
                    <p><strong>2m18</strong></p>
                </td>
                <td>
                    <p><strong>2m20</strong></p>
                </td>
                <td>
                    <p><strong>2m25</strong></p>
                </td>
                <td>
                    <p><strong>Hauteur</strong></p>
                </td>
                <td>
                    <p><strong>1m55</strong></p>
                </td>
                <td>
                    <p><strong>1m65</strong></p>
                </td>
                <td>
                    <p><strong>1m68</strong></p>
                </td>
                <td>
                    <p><strong>1m75</strong></p>
                </td>
                <td>
                    <p><strong>1m78</strong></p>
                </td>
                <td>
                    <p><strong>1m83</strong></p>
                </td>
                <td>
                    <p><strong>1m85</strong></p>
                </td>
                <td>
                    <p><strong>1m87</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>4m20</strong></p>
                </td>
                <td>
                    <p><strong>4m50</strong></p>
                </td>
                <td>
                    <p><strong>4m70</strong></p>
                </td>
                <td>
                    <p><strong>5m00</strong></p>
                </td>
                <td>
                    <p><strong>5m10</strong></p>
                </td>
                <td>
                    <p><strong>5m20</strong></p>
                </td>
                <td>
                    <p><strong>5m35</strong></p>
                </td>
                <td>
                    <p><strong>5m55</strong></p>
                </td>
                <td>
                    <p><strong>Perche</strong></p>
                </td>
                <td>
                    <p><strong>3m50</strong></p>
                </td>
                <td>
                    <p><strong>3m60</strong></p>
                </td>
                <td>
                    <p><strong>3m60</strong></p>
                </td>
                <td>
                    <p><strong>3m80</strong></p>
                </td>
                <td>
                    <p><strong>3m85</strong></p>
                </td>
                <td>
                    <p><strong>3m95</strong></p>
                </td>
                <td>
                    <p><strong>4m10</strong></p>
                </td>
                <td>
                    <p><strong>4m40</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>6m65</strong></p>
                </td>
                <td>
                    <p><strong>6m90</strong></p>
                </td>
                <td>
                    <p><strong>7m10</strong></p>
                </td>
                <td>
                    <p><strong>7m40</strong></p>
                </td>
                <td>
                    <p><strong>7m35</strong></p>
                </td>
                <td>
                    <p><strong>7m50</strong></p>
                </td>
                <td>
                    <p><strong>7m70</strong></p>
                </td>
                <td>
                    <p><strong>7m95</strong></p>
                </td>
                <td>
                    <p><strong>Longeur</strong></p>
                </td>
                <td>
                    <p><strong>5m30</strong></p>
                </td>
                <td>
                    <p><strong>5m60</strong></p>
                </td>
                <td>
                    <p><strong>5m60</strong></p>
                </td>
                <td>
                    <p><strong>5m95</strong></p>
                </td>
                <td>
                    <p><strong>6m00</strong></p>
                </td>
                <td>
                    <p><strong>6m08</strong></p>
                </td>
                <td>
                    <p><strong>6m15</strong></p>
                </td>
                <td>
                    <p><strong>6m30</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>13m60</strong></p>
                </td>
                <td>
                    <p><strong>14m00</strong></p>
                </td>
                <td>
                    <p><strong>15m00</strong></p>
                </td>
                <td>
                    <p><strong>15m40</strong></p>
                </td>
                <td>
                    <p><strong>15m20</strong></p>
                </td>
                <td>
                    <p><strong>15m70</strong></p>
                </td>
                <td>
                    <p><strong>16m20</strong></p>
                </td>
                <td>
                    <p><strong>16m80</strong></p>
                </td>
                <td>
                    <p><strong>T-Saut</strong></p>
                </td>
                <td>
                    <p><strong>11m80</strong></p>
                </td>
                <td>
                    <p><strong>12m10</strong></p>
                </td>
                <td>
                    <p><strong>12m50</strong></p>
                </td>
                <td>
                    <p><strong>12m90</strong></p>
                </td>
                <td>
                    <p><strong>13m08</strong></p>
                </td>
                <td>
                    <p><strong>13m20</strong></p>
                </td>
                <td>
                    <p><strong>13m35</strong></p>
                </td>
                <td>
                    <p><strong>13m50</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>14m50</strong></p>
                </td>
                <td>
                    <p><strong>15m50</strong></p>
                </td>
                <td>
                    <p><strong>17m20</strong></p>
                </td>
                <td>
                    <p><strong>17m80</strong></p>
                </td>
                <td>
                    <p><strong>16m90</strong></p>
                </td>
                <td>
                    <p><strong>17m50</strong></p>
                </td>
                <td>
                    <p><strong>18m00</strong></p>
                </td>
                <td>
                    <p><strong>18m50</strong></p>
                </td>
                <td>
                    <p><strong>poids</strong></p>
                </td>
                <td>
                    <p><strong>13m50</strong></p>
                </td>
                <td>
                    <p><strong>13m80</strong></p>
                </td>
                <td>
                    <p><strong>13m50</strong></p>
                </td>
                <td>
                    <p><strong>14m30</strong></p>
                </td>
                <td>
                    <p><strong>14m80</strong></p>
                </td>
                <td>
                    <p><strong>15m30</strong></p>
                </td>
                <td>
                    <p><strong>15m80</strong></p>
                </td>
                <td>
                    <p><strong>17m00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>44m00</strong></p>
                </td>
                <td>
                    <p><strong>47m00</strong></p>
                </td>
                <td>
                    <p><strong>50m00</strong></p>
                </td>
                <td>
                    <p><strong>55m00</strong></p>
                </td>
                <td>
                    <p><strong>53m00</strong></p>
                </td>
                <td>
                    <p><strong>56m00</strong></p>
                </td>
                <td>
                    <p><strong>58m00</strong></p>
                </td>
                <td>
                    <p><strong>62m00</strong></p>
                </td>
                <td>
                    <p><strong>Disque</strong></p>
                </td>
                <td>
                    <p><strong>36m00</strong></p>
                </td>
                <td>
                    <p><strong>39m00</strong></p>
                </td>
                <td>
                    <p><strong>43m10</strong></p>
                </td>
                <td>
                    <p><strong>48m50</strong></p>
                </td>
                <td>
                    <p><strong>49m00</strong></p>
                </td>
                <td>
                    <p><strong>50m50</strong></p>
                </td>
                <td>
                    <p><strong>52m00</strong></p>
                </td>
                <td>
                    <p><strong>56m00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>52m00</strong></p>
                </td>
                <td>
                    <p><strong>58m00</strong></p>
                </td>
                <td>
                    <p><strong>59m50</strong></p>
                </td>
                <td>
                    <p><strong>65m00</strong></p>
                </td>
                <td>
                    <p><strong>64m00</strong></p>
                </td>
                <td>
                    <p><strong>66m00</strong></p>
                </td>
                <td>
                    <p><strong>68m00</strong></p>
                </td>
                <td>
                    <p><strong>72m00</strong></p>
                </td>
                <td>
                    <p><strong>Marteau</strong></p>
                </td>
                <td>
                    <p><strong>52m00</strong></p>
                </td>
                <td>
                    <p><strong>55m00</strong></p>
                </td>
                <td>
                    <p><strong>52m00</strong></p>
                </td>
                <td>
                    <p><strong>56m00</strong></p>
                </td>
                <td>
                    <p><strong>58m00</strong></p>
                </td>
                <td>
                    <p><strong>60m00</strong></p>
                </td>
                <td>
                    <p><strong>62m00</strong></p>
                </td>
                <td>
                    <p><strong>65m00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>53m00</strong></p>
                </td>
                <td>
                    <p><strong>58m00</strong></p>
                </td>
                <td>
                    <p><strong>62m00</strong></p>
                </td>
                <td>
                    <p><strong>66m50</strong></p>
                </td>
                <td>
                    <p><strong>65m00</strong></p>
                </td>
                <td>
                    <p><strong>67m00</strong></p>
                </td>
                <td>
                    <p><strong>69m00</strong></p>
                </td>
                <td>
                    <p><strong>73m00</strong></p>
                </td>
                <td>
                    <p><strong>Javelot</strong></p>
                </td>
                <td>
                    <p><strong>39m00</strong></p>
                </td>
                <td>
                    <p><strong>42m00</strong></p>
                </td>
                <td>
                    <p><strong>43m00</strong></p>
                </td>
                <td>
                    <p><strong>48m00</strong></p>
                </td>
                <td>
                    <p><strong>50m00</strong></p>
                </td>
                <td>
                    <p><strong>52m00</strong></p>
                </td>
                <td>
                    <p><strong>53m00</strong></p>
                </td>
                <td>
                    <p><strong>58m00</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>24.40</strong></p>
                </td>
                <td>
                    <p><strong>23.40</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>5000m marche</strong></p>
                </td>
                <td>
                    <p><strong>26.40</strong></p>
                </td>
                <td>
                    <p><strong>26.00</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>45.30</strong></p>
                </td>
                <td>
                    <p><strong>45.00</strong></p>
                </td>
                <td>
                    <p><strong>44.50</strong></p>
                </td>
                <td>
                    <p><strong>44.20</strong></p>
                </td>
                <td>
                    <p><strong>43.50</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>10000m Marche</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>50.30</strong></p>
                </td>
                <td>
                    <p><strong>48.30</strong></p>
                </td>
                <td>
                    <p><strong>48.00</strong></p>
                </td>
                <td>
                    <p><strong>47.00</strong></p>
                </td>
                <td>
                    <p><strong>46.00</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>1h22.00</strong></p>
                </td>
                <td>
                    <p><strong>20 Km Marche</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>&nbsp;----</strong></p>
                </td>
                <td>
                    <p><strong>1h31</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>5800</strong></p>
                </td>
                <td>
                    <p><strong>6100</strong></p>
                </td>
                <td>
                    <p><strong>6600</strong></p>
                </td>
                <td>
                    <p><strong>6900</strong></p>
                </td>
                <td>
                    <p><strong>7150</strong></p>
                </td>
                <td>
                    <p><strong>7400</strong></p>
                </td>
                <td>
                    <p><strong>7800</strong></p>
                </td>
                <td>
                    <p><strong>8400</strong></p>
                </td>
                <td>
                    <p><strong>Epr. Combin&eacute;es</strong></p>
                </td>
                <td>
                    <p><strong>4150</strong></p>
                </td>
                <td>
                    <p><strong>4350</strong></p>
                </td>
                <td>
                    <p><strong>4500</strong></p>
                </td>
                <td>
                    <p><strong>5000</strong></p>
                </td>
                <td>
                    <p><strong>5100</strong></p>
                </td>
                <td>
                    <p><strong>5300</strong></p>
                </td>
                <td>
                    <p><strong>5700</strong></p>
                </td>
                <td>
                    <p><strong>6100</strong></p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <br>
    <br><br>
    <br>

