<section class="container">
  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Seniors Masculins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col" class="text-left">Epreuves</th>
          <th scope="col" class="text-left">Performance</th>
          <th scope="col" class="text-left">Nom Prénoms</th>
          <th scope="col" class="text-left">Age</th>
          <th scope="col" class="text-left">Club</th>
          <th scope="col" class="text-left">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let s of SeniorMas">
            <td>
              {{s.Epreuves}}
            </td>
            <td>
              {{s.Perform}}
            </td>
            <td>
              {{s.Nom_prenom}}
            </td>
            <td>
              {{s.Age}}
            </td>
            <td>
              {{s.Club}}
            </td>
            <td>
              {{s.Date_lieu}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Juniors Masculins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col" class="text-left">Epreuves</th>
          <th scope="col" class="text-left">Performance</th>
          <th scope="col" class="text-left">Nom Prénoms</th>
          <th scope="col" class="text-left">Age</th>
          <th scope="col" class="text-left">Club</th>
          <th scope="col" class="text-left">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let j of JuniorMas">
            <td>
              {{j.Epreuves}}
            </td>
            <td>
              {{j.Peform}}
            </td>
            <td>
              {{j.Nom_prenom}}
            </td>
            <td>
              {{j.Age}}
            </td>
            <td>
              {{j.Club}}
            </td>
            <td>
              {{j.Date_lieu}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Cadet Masculins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col" class="text-left">Epreuves</th>
          <th scope="col" class="text-left">Performance</th>
          <th scope="col" class="text-left">Nom Prénoms</th>
          <th scope="col" class="text-left">Age</th>
          <th scope="col" class="text-left">Club</th>
          <th scope="col" class="text-left">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let c of CadetMas">
            <td>
              {{c.Epreuves}}
            </td>
            <td>
              {{c.Peform}}
            </td>
            <td>
              {{c.Nom_prenom}}
            </td>
            <td>
              {{c.Age}}
            </td>
            <td>
              {{c.Club}}
            </td>
            <td>
              {{c.Date_lieu}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Seniors Feminins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col" class="text-left">Epreuves</th>
          <th scope="col" class="text-left">Performance</th>
          <th scope="col" class="text-left">Nom Prénoms</th>
          <th scope="col" class="text-left">Age</th>
          <th scope="col" class="text-left">Club</th>
          <th scope="col" class="text-left">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let s1 of SeniorMas">
            <td>
              {{s1.Epreuves}}
            </td>
            <td>
              {{s1.Peform}}
            </td>
            <td>
              {{s1.Nom_prenom}}
            </td>
            <td>
              {{s1.Age}}
            </td>
            <td>
              {{s1.Club}}
            </td>
            <td>
              {{s1.Date_lieu}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Juniors Feminins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col" class="text-left">Epreuves</th>
          <th scope="col" class="text-left">Performance</th>
          <th scope="col" class="text-left">Nom Prénoms</th>
          <th scope="col" class="text-left">Age</th>
          <th scope="col" class="text-left">Club</th>
          <th scope="col" class="text-left">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let j1 of JuniorMas">
            <td>
              {{j1.Epreuves}}
            </td>
            <td>
              {{j1.Peform}}
            </td>
            <td>
              {{j1.Nom_prenom}}
            </td>
            <td>
              {{j1.Age}}
            </td>
            <td>
              {{j1.Club}}
            </td>
            <td>
              {{j1.Date_lieu}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="container paddings-mini">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Cadet Masculins </h1>
        <table class="table-striped table-responsive table-hover result-point">
          <thead>
          <th scope="col">Epreuves</th>
          <th scope="col">Performance</th>
          <th scope="col">Nom Prénoms</th>
          <th scope="col">Age</th>
          <th scope="col">Club</th>
          <th scope="col">Date et Lieu</th>
          </thead>
          <tbody>
          <tr *ngFor="let c1 of CadetMas">
            <td>
              {{c1.Epreuves}}
            </td>
            <td>
              {{c1.Peform}}
            </td>
            <td>
              {{c1.Nom_prenom}}
            </td>
            <td>
              {{c1.Age}}
            </td>
            <td>
              {{c1.Club}}
            </td>
            <td>
              {{c1.Date_lieu}}
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
