<section class="content-info">

  <div class="container paddings-mini">
    <div class="row">

      <div class="col-lg-12">
        <h3 class="clear-title">Centres</h3>
      </div>
      <!-- tableau des centres -->
      <div class="col-lg-12">
        <table class="table-striped table-responsive table-hover">
          <thead>
          <tr>
            <th>Centre</th>
            <th class="text-center">Directeur du Centre</th>
            <th>N° Tel</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let centre of centre">
            <td>
              <a data-toggle="modal" data-target="#modal" href="" (click)="CentreName = centre.name"><strong >{{centre.name}}</strong></a><br>

            </td>
            <td class="text-center">{{centre.directeur}}</td>
            <td>
              {{centre.num}}

            </td>

          </tr>

          </tbody>
        </table>
      </div>
      <!-- fin tableau des centres -->


      <!-- Modal -->
      <app-centres-detail [CentreName]="CentreName" [centreDetail]="centreDetails" ></app-centres-detail>
      <!-- fin modal -->

    </div>
  </div>
  <br>
  <br>
</section>
