
<!-- layout-->
<div id="layout">
<app-header></app-header>

  <!-- Section Title -->
  <div class="section-title" style="background:url(img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Page Sitemap</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <div class="row">

        <!-- Sidebars -->
        <aside class="col-lg-3">
          <!-- Sitemap -->
          <ul class="sitemap">
            <li class="has_sub">Home</li>
            <li class="has_sub"><a href="about.html"><strong>About</strong></a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="club-teams.html">Club Teams</a></li>
              </ul>
            </li>
            <li class="has_sub"><a href="sports.html.html"><strong>Sports</strong></a>
              <ul>
                <li><a href="sports.html">Football Soccer</a></li>
                <li><a href="sports.html">Motocross</a></li>
                <li><a href="sports.html">Bmx</a></li>
              </ul>
            </li>
            <li class="has_sub"><a href="gallergallery-4-colums.html"><strong>Gallery</strong></a>
              <ul>
                <li><a href="gallergallery-2-colums.html">Gallery 2 Columns</a></li>
                <li><a href="gallergallery-3-colums.html">Gallery 3 Columns</a></li>
                <li><a href="gallergallery-4-colums.html">Gallery 4 Columns</a></li>
              </ul>
            </li>
            <li class="has_sub"><strong>Features</strong>
              <ul>
                <li class="has_sub"><strong>Pages</strong>
                  <ul>
                    <li><a href="page-full-width.html">Page Full width</a></li>
                    <li><a href="page-left-sidebar.html">Page left sidebar</a></li>
                    <li><a href="page-right-sidebar.html">Page right sidebar</a></li>
                    <li><a href="page-404.html">404 Page </a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                  </ul>
                </li>
                <li><a href="feature-princing-tables.html">Pricing Tables</a></li>
                <li><a href="feature-grid-system.html">Grid System</a></li>
                <li><a href="feature-typograpy.html">Typograpy</a></li>
                <li><a href="feature-icons.html">Icons Retina</a></li>
                <li><a href="feature-elements.html">Elements</a></li>
              </ul>
            </li>
            <li class="has_sub"><a href="news-left-sidebar.html"><strong>News</strong></a>
              <ul>
                <li><a href="news-left-sidebar.html">news-left-sidebar</a></li>
                <li><a href="single-news.html">Single News</a></li>
              </ul>
            </li>

            <li><a href="contact.html">Contact</a></li>
          </ul>
          <!-- End Sitemap -->
        </aside>
        <!-- End Sidebars -->

        <div class="col-lg-9">
          <!-- Content Text-->
          <div class="panel-box padding-b">
            <div class="titles">
              <h4>Text Content.</h4>
            </div>

            <div class="info-panel">
              <div class="row">
                <div class="col-md-12">
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
              </div>

              <div class="row padding-top-mini">
                <div class="col-md-4">
                  <img class="img-responsive" src="img/blog/1.jpg" alt="">
                </div>
                <div class="col-md-8">
                  <p>Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
              </div>

              <div class="row padding-top-mini">
                <div class="col-md-12">
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
              </div>

              <div class="row padding-top-mini">
                <div class="col-md-8">
                  <p>Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="img/blog/2.jpg" alt="">
                </div>
              </div>

            </div>

          </div>
          <!-- End Content Text-->
        </div>
      </div>
    </div>

    <!-- Newsletter -->
    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
              <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
            </div>
            <form id="newsletterForm" action="http://html.iwthemes.com/sportscup/run/php/mailchip/newsletter-subscribe.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                  </div>
                </div>
              </div>
            </form>
            <div id="result-newsletter"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Newsletter -->
  </section>
  <!-- End Section Area -  Content Central -->
<app-footer></app-footer>
</div>
<!-- End layout-->
