<div class="item-team">
  <div class="head-team">
    <img [src]="((club.img)?('assets/img/clubs/'+club.img):('assets/img/clubs/team.png'))">
  </div>
  <div class="info-team" >
    <h4>{{ club?.name?.slice (0, 25) }}{{ (club?.name?.length > 25) ? '...' : '' }}</h4>
    <span class="location-team" >
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{club.adresse}}
    </span>
    <span class="group-team">
      <i class="fa fa-phone" aria-hidden="true" style="margin-top: 20px"></i>/<i class="fa fa-fax" aria-hidden="true" style="margin-top: 20px"></i>
      {{club.telFax}}
    </span>
  </div>
  <br>
</div>
