<div id="layout">
  <!-- Header-->


  <!-- End Header-->



  <div class="section-title" style="background:url()">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Page full width</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4>Projet Athlé-santé</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p><strong>Les dimensions sociales du projet ATHLE-SANTE-EMPLOI  &nbsp;</strong></p>
              <ul>
                <li style="line-height: 1.5;">Maintenir un état de santé équilibrée de l'individu et garantir son bien-étre&nbsp;</li>
                <li style="line-height: 1.5;">Promouvoir et vulgariser la culture de la pratique sportive dans la société et pour toutes les catégories d’âges</li>
                <li style="line-height: 1.5;">Créer des nouveaux postes d’emploi pour les chômeurs diplômés des instituts supérieurs des sports et de l’éducation physique (environ 7000 chômeurs).&nbsp;</li>
              </ul>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="src/assets/img/Capture.jpg" alt="">
            </div>
            <div class="col-md-8">
              <p><strong>OBJECTIFS PRINCIPAUX &nbsp;</strong></p>
              <ul>
                <li style="line-height: 1.5;">Vulgariser et promouvoir la culture de la pratique sportive cheztoutes les catégories d’âge.&nbsp;</li>
                <li style="line-height: 1.5;">Maintenir le capital santé du citoyen à travers la pratique de l’activité Athlé-Santé.</li>
                <li style="line-height: 1.5;">Créer des postes d’emplois pour les chômeurs diplômés des instituts supérieurs des sports.&nbsp;</li>
                <li style="line-height: 1.5;">Permettre aux citoyens d’adhérer à une pratique sportive régulière assuré par un encadrement scientifique par les coachs athlé-santé.</li>
                <li style="line-height: 1.5;">&nbsp;Rééducation relative de 10 % de la prévalence du manque d’activité physique et sportive.</li>
                <li style="line-height: 1.5;">&nbsp;Assurer une meilleure exploitation des infrastructures sportives.</li>
                <li style="line-height: 1.5;">&nbsp;Introduire l’activité physique et sportive adapté dans les prescriptions des médecins traitant à des patients atteints d’une affectation de longue durée.</li>
                <li style="line-height: 1.5;">&nbsp;Aménager le maximum des parcours de santé dans les régions afin d’accueillir les citoyens pratiquant l’activité Athlé-Santé.</li>
              </ul>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p><span style="font-family: Calibri, sans-serif; font-size: 18px;"><strong>MISE EN ŒUVRE DU PROJET</strong></span></p>
              <ul>
                <li style="line-height: 1.5;">Envoi de 4 experts dans le domaine des activités physique et sportive adapté pour suivre une formation spécifique en France, formateur des coaches athlé - santé et ce, dans le cadre de la coopération entre la Fédération tunisienne et son homologue la Française d’athlétisme.</li>
                <li style="line-height: 1.5;">Programmer des stages de formation des coaches athlé-santé en collaboration avec l’institut supérieur des sports et de l’éducation physique de sfax.</li>
                <li style="line-height: 1.5;">L’élaboration d’une convention entre le ministère de l’emploi et la Fédération Tunisienne d’Athlétisme pour recruter les chômeurs diplômés (prise en charge par le ministère de 200d/mois pour chaque entraîneur recruté.</li>
                <li style="line-height: 1.5;">Elaboration d’une convention entre le ministère de la santé, le ministère des affaires de la jeunesse et sports et la fédération tunisienne d’athlétisme pour approuver le programme de formation des coaches athlé-santé et l’exploitation des infrastructures sportives au profit du projet athlé-santé.</li>
              </ul>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-8">
              <ul>
                <li style="line-height: 1.5;">Coordonner avec les collectivités locales pour mettre à la disposition de la fédération les infrastructures sportives pour la pratique de l’activité athlé-santé.</li>
                <li style="line-height: 1.5;">Coordonner avec les établissements publics et privés pour adhérer à ce projet et inscrire leurs employés pour pratiquer l’activité athlé-santé d’une façon régulière.</li>
                <li style="line-height: 1.5;">Créer un site web, une page facebook dédié au projet athlé-santé.</li>
                <li style="line-height: 1.5;">Coordonner avec les médias pour faire connaître le projet athlé-santé et ces bienfaits.</li>
                <li style="line-height: 1.5;">Fournir le matériel pédagogique nécessaire pour assurer le bon fonctionnement de ce projet.</li>
              </ul>
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="src/assets/img/imgprojet.jpg" alt="">
            </div>
          </div>

        </div>

      </div>
      <!-- End Content Text-->
    </div>
  </section>
</div>
