<!-- layout-->
<div id="layout">


  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Nos Documents</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class=" paddings-mini">
      <div class="row container">

        <div class="col-lg-10 container">
          <h3 class="clear-title">Documents</h3>
        </div>
      </div>
    </div>
    <!-- Document links -->#d52f37
    <div class="container col-lg-8">

      <div class="list-group  ">

        <a  data-toggle="modal" data-target="#modal" class="list-group-item list-group-item-action " href="" STYLE="color: #d52f37;">BORDEREAU D'ENVOI</a>
        <a routerLink="/demandeaffiliation" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE D'AFFILIATION</a>
        <a routerLink="/licence-master" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE DE LICENCE MASTER</a>
        <a routerLink="/licence-runner" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE DE LICENCE RUNNER</a>
        <a routerLink="/licence-athlete" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE DE LICENCE </a>
        <a routerLink="/demande-mutation" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE MUTATION 2019-2020</a>
        <a routerLink="/demande-juge" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE JUGE 2019-2020</a>
        <a routerLink="/licence-dirigeant" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE LICENCE DIRIGEANTS</a>
        <a routerLink="/licence-entraineur" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE LICENCE ENTRAINEUR</a>
        <a routerLink="/licence-athlete-promotion" class="list-group-item list-group-item-action " STYLE="color: #d52f37;">DEMANDE LICENCE ATHLETE ( UNITE DE PROMOTION )</a>


      </div>

    </div>
    <!-- Document Links End -->

    <br>
    <br>
    <br>

  </section>
  <!-- End Section Area -  Content Central -->

</div>
<!-- End layout-->
