<!-- layout-->
<div id="layout">
  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/Logo vectoriel FTA typo 2 (2) (2).png)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Liste des athlétes</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Accueil</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info" >

    <!-- Nav Filters -->
    <div class="s130">
      <form>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input id="search" type="text" [(ngModel)]="word" [ngModelOptions]="{standalone: true}" (keyup)="Clicked()"  placeholder="What are you looking for?" />
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="button" (click)="Clicked()">SEARCH</button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Nav Filters -->

    <div class="container padding-top  ">
      <div class="row portfolioContainer  " >
      <app-itemplayer class="col-md-6 col-lg-4 col-xl-3"  *ngFor="let player of liste" [player]="player"></app-itemplayer>
      </div>
    </div>
        <!-- pagination -->
        <div class="container centered " style="padding-bottom: 80px">
          <div class="row">
            <div class="col align-items-center">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item {{previous}}">
              <a class="page-link" routerLink="/player-list/{{num - 1}}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item {{page.active}} " *ngFor="let page of pages" ><a class="page-link " routerLink="/player-list/{{page.nb}}">{{page.nb}}</a></li>
            <li class="page-item {{next}}">
              <a class="page-link"  routerLink="/player-list/{{num + 1}}">Next</a>
            </li>
          </ul>
        </nav>
        </div>
          </div>
        </div>

        <!-- end pagination -->



    <!-- End Newsletter -->
  </section>
  <!-- End Section Area -  Content Central -->
</div>
<!-- End layout-->
