
<!-- layout-->
<div id="layout">
  <app-header></app-header>

  <!-- Section Title -->
  <div class="section-title" style="background:url(img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>News Left Sidebar</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <div class="row">

        <!-- Sidebars -->
        <aside class="col-lg-3">

          <div>
            <h4>Searh Sidebar</h4>
            <form class="search" action="#" method="Post">
              <div class="input-group">
                <input class="form-control" placeholder="Search..." name="email"  type="email" required="required">
                <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" name="subscribe" >Go!</button>
                                        </span>
              </div>
            </form>
          </div>

          <!-- Widget Text-->
          <div class="panel-box">
            <div class="titles no-margin">
              <h4>Widget Text</h4>
            </div>
            <div class="info-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
            </div>
          </div>
          <!-- End Widget Text-->

          <!-- Widget img-->
          <div class="panel-box">
            <div class="titles no-margin">
              <h4>Widget Image</h4>
            </div>
            <img src="img/slide/1.jpg" alt="">
            <div class="row">
              <div class="info-panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
              </div>
            </div>
          </div>
          <!-- End Widget img-->
        </aside>
        <!-- End Sidebars -->


        <div class="col-lg-9">
          <!-- Content Text-->
          <div class="panel-box">
            <div class="titles">
              <h4>Recent News</h4>
            </div>

            <!-- Post Item -->
            <div class="post-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-hover">
                    <img src="img/blog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5><a href="single-news.html">Group Stage Breakdown</a></h5>
                  <span class="data-info">January 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></span>
                  <p>While familiar with fellow European nation France, Hareide admits that South American side Peru.<a href="single-news.html">Read More [+]</a></p>
                </div>
              </div>
            </div>
            <!-- End Post Item -->

            <!-- Post Item -->
            <div class="post-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-hover">
                    <img src="img/blog/2.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5><a href="single-news.html">Russia 2018’s potential classic match-ups</a></h5>
                  <span class="data-info">January 9, 2014  / <i class="fa fa-comments"></i><a href="#">5</a></span>
                  <p>Our goal is very clear, it didn’t change after the draw. We should qualify for the knockout stage.<a href="single-news.html">Read More [+]</a></p>
                </div>
              </div>
            </div>
            <!-- End Post Item -->

            <!-- Post Item -->
            <div class="post-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-hover">
                    <img src="img/blog/3.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5><a href="single-news.html">World Cup rivalries reprised</a></h5>
                  <span class="data-info">January  4, 2014  / <i class="fa fa-comments"></i><a href="#">3</a></span>
                  <p>The outdoor exhibition on Manezhnaya Square comprises 11 figures that symbolise the main sites of interest.<a href="single-news.html">Read More [+]</a></p>
                </div>
              </div>
            </div>
            <!-- End Post Item -->

            <!-- Post Item -->
            <div class="post-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-hover">
                    <img src="img/blog/4.jpg" alt="" class="img-responsive">
                    <div class="overlay"><a href="single-news.html">+</a></div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5><a href="single-news.html">All set for your trip to Russia?</a></h5>
                  <span class="data-info">January 8, 2014  / <i class="fa fa-comments"></i><a href="#">2</a></span>
                  <p>Colombia play Japan on 19 June at the Mordovia Arena, where the piling and casting operations.<a href="single-news.html">Read More [+]</a></p>
                </div>
              </div>
            </div>
            <!-- End Post Item -->
          </div>
          <!-- End Content Text-->
        </div>
      </div>
    </div>
   <!-- Newsletter -->
    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
              <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
            </div>
            <form id="newsletterForm" action="http://html.iwthemes.com/sportscup/run/php/mailchip/newsletter-subscribe.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                  </div>
                </div>
              </div>
            </form>
            <div id="result-newsletter"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Newsletter -->
  </section>
  <!-- End Section Area -  Content Central -->
  <app-footer></app-footer>
</div>
<!-- End layout-->
