<div class="panel-box">
  <div class="titles">
    <h2><b>Présentation</b></h2>
  </div>
  <div class="post-item">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="index.html" title="Return Home">
            <img src="assets/img/icons/{{image_logo_fta}}" alt="FTA" align="left" class="logo_img">
          </a>
        </div>
        <p style="font-size: 25px">La <span style="color: black"><b>F</b></span>édération
          <span style="color: black"><b>T</b></span>unisienne d’
          <span style="color: black"><b>A</b></span>thlétisme (
          <span style="color: black"><b>FTA</b></span>)
          regroupe l’ensemble des clubs ayant pour objet la pratique de l’athlétisme en Tunisie.
          Elle est affilié à l’Association Internationale des Fédérations d’Athlétisme (<b>IAAF</b>),
          tout en étant un membre actif de la Confédération Africaine d’Athlétisme (<b>CAA</b>) qui gère les
          compétitions au niveau continental.
        </p>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-7 col-xl-7">
            <img src="assets/img/{{image_ligues}}" alt="ligues" class="logo_img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
