<!-- layout-->
<div id="layout">

  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Galerie</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">
    <div class="row portfolioContainer">
    <app-galerie-list *ngFor="let galerieEl of galerie" [galerie]="galerieEl" class="col-lg-3"  ></app-galerie-list>
    </div>
  </section>
  <!-- End Section Area -  Content Central -->
</div>
<!-- End layout-->
