
<div class="item-team">
  <div class="head-team">
    <img [src]="((club.img)?('assets/img/clubs/'+club.img):('assets/img/clubs/team.png'))">
  </div>
  <div class="info-team" >
    <h4>{{ (club?.name?.length > 35) ? '...' : '' }}{{ club?.name?.slice (0, 35) }}</h4>
    <span class="location-team" >
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{club.adresse}}
    </span>
    <span class="group-team">
      <i class="fa fa-phone" aria-hidden="true" style="margin-top: 20px"></i>
      {{club.mobileClub}}
                                    </span>
  </div>
  <br>
  <a [routerLink]="'/single-club/' + club.id" class="btn">Team Profile <i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>

