<div class="container" align="center">
    <div class="col-md-8">
        <div class="titles no-margin">
            <h4>engagement athlesante</h4>
        </div>
        <br>
        <div class="info-panel">
            <!-- Form Contact -->
            <form [formGroup]="engagementForm" class="form-theme" (ngSubmit)="onSubmit()">

                <div class="row">
                    <label>description</label>
                    <textarea
                            type="text"
                            class="form-control"
                            formControlName="description"
                    >
                    </textarea>
                </div>
                <div class="row">
                        <label>programme</label>
                        <textarea
                                type="text"
                                class="form-control"
                                formControlName="programme"
                        >
                        </textarea>
                </div>
                <div class="row">
                    <label>relationSS</label>
                    <textarea
                            type="text"
                            class="form-control"
                            formControlName="relationSS"
                    >
                        </textarea>
                </div>
                    <button type="submit"
                            class="btn btn-lg btn-primary text-center"
                            [disabled]="!engagementForm.valid"
                    >
                        envoyer demande
                    </button>

            </form>
        </div>
    </div>
</div>
<br>

