<div id="layout" >
  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Championnat Arabe Juniors Tunis 2020</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
  <!-- Dark Home -->
  <div class="col-xl-10 mx-auto col-md-12" style="padding-bottom: 150px">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="myTab">
      <li class="active" ><a href="#description" data-toggle="tab" >DESCRIPTION</a></li>
      <li><a href="#communiquee1" data-toggle="tab" >GENERALITE</a></li>
      <li><a href="#communiquee2" data-toggle="tab">PARTICIPATION</a></li>
      <li><a href="#communiquee3" data-toggle="tab">COMMUNIQUEE</a></li>
    </ul>
    <!-- End Nav Tabs -->

    <!-- Content Tabs -->
    <div class="tab-content">
      <!-- Tab One - Description -->
      <div class="tab-pane active" id="description">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/champ_arabe/logo.jpg" alt="" style="margin-top: 10px; height: 350px">
          </div>

          <div class="col-md-8">
            <h1>CHAMPIONNAT D'ARABE 2020</h1>
            <p class="lead" style="color: #0d0d0d">Près de 3000 spectateurs et invités vont assister à l'évènement qui regroupera 500 Master, représentant les pays africains et européens, participeront à Tunis , au mois d'octobre, à la 1ère édition des championnats méditerranéens Open d'athlétisme des masters.
              Le stade de Rades sera le théâtre de cet évènement important.
              Durant 4 jours le stade de Rades ne verra pas moins de 60 épreuves disputées par les masters de ces pays, dans une ambiance à la fois conviviale et rigoureuse.
              Pas moins de 150 bénévoles sont mobilisés pour assurer le bon déroulement de l'évènement.</p>
          </div>

        </div>
      </div>
      <!-- end Tab One - Description -->
      <!-- Tab Theree - Course -->
      <div class="tab-pane" id="communiquee1">
        <embed src="assets/Files/pdf_1.pdf" type="application/pdf" width="100%" height="600px"/>
      </div>
      <!-- End Tab One - Course -->
      <!-- Tab One - Masters -->
      <div class="tab-pane" id="communiquee2">
        <embed src="assets/Files/pdf_2.pdf" type="application/pdf" width="100%" height="600px"/>
      </div>
      <!-- End Tab One - Masters -->
      <div class="tab-pane" id="communiquee3">
        <embed src="assets/Files/pdf_3.pdf" type="application/pdf" width="100%" height="600px"/>
      </div>
    </div>
  </div>
  <!-- Left Content - Tabs and Carousel -->
</div>
<!-- End layout-->

