<div id="layout">


  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/3.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>ATHLE SANTE</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
  <!-- Dark Home -->
  <div class="col-xl-10 mx-auto col-md-12" style="padding-bottom: 200px">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="myTab">
      <li><a href="#preambule1" data-toggle="tab">DESCRIPTION</a></li>
      <li><a href="#preambule2" data-toggle="tab" class="text-left">RELATION SPORT-SANTE </a></li>
      <li><a href="#preambule3" data-toggle="tab">PARTICIPATION</a></li>

    </ul>
    <!-- End Nav Tabs -->

    <!-- Content Tabs -->
    <div class="tab-content">
      <!-- Tab One - Description -->
      <div class="tab-pane active" id="preambule1">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/img/logo UAAA.png" alt="" style="margin-top: 10px; height: 350px">
          </div>

          <div class="col-md-8">
            <h1>ATHLE SANTE</h1>
            <p class="lead" style="color: #0d0d0d">L’athlétisme est classé parmi les plus ancien sport dans l’histoire
              de l’humanité.
              L’athlétisme est considéré comme un sport complet qui se base sur les mouvements naturels de
              l’individu à savoir la marche, le running, les sauts et les lancers.
              La pratique de ce sport est facile et accessible à toutes les catégories d’âge et vecteur
              d’éducation, de santé et de bien être de l’individu.</p>
          </div>

        </div>
      </div>
      <!-- end Tab One - Description -->
      <!-- Tab Theree - Course -->
      <div class="tab-pane" id="preambule2">
        <div class="container">
          <p class="lead text-center" style="color: #0d0d0d">
            L’activité physique et sportive régulière est un facteur de santé à
            la fois en terme de prévention et de contrôle des maladies non transmissibles (MNT),
            voire de l’amélioration du capital santé et du bien être de l’individu.
            L’inactivité physique est la première cause de mortalité évitable, elle est responsable de 5
            millions de décès par an dans le monde. A l’inverse l’activité physique régulière diminue le
            risque de mortalité précoce de 30%.
            La quantité minimale d’AP d’intensité modérée est de 15 minutes de marche tous les jours
            (diminution de la mortalité précoce de 14%), chez les personnes en bonne santé comme chez ceux
            présentant déjà une pathologie chronique (diabète, obésité, hypertension, etc.…).
            Les maladies cardiovasculaires représentent la première cause de mortalité chez les femmes et la
            2ème cause chez l’homme.
            Selon l’OMS; 80% des infarctus du myocarde et accident vasculaire cérébral pourraient être évités
            si les sujets pratiquaient 30 min d’AP d’intensité modérée à intense 5 fois par semaine (150
            min/sem.).</p>
        </div>
      </div>
      <!-- End Tab One - Course -->
      <!-- Tab One - Masters -->
      <div class="tab-pane" id="preambule3">
        <div class="container">
          <h1>Pourquoi l’activité physique et sportive est-elle bénéfique ?</h1>
          <p class="lead text-center" style="color: #0d0d0d">
            1- Améliore les Aptitudes Globales<br>
            2- Réduit les Risques CV et respiratoires<br>
            3- Maintien Masse et Force Musculaire<br>
            4- Limite la Perte Osseuse<br>
            5- Prévient les Chutes<br>
            6- Retarde l’apparition de l’Arthrose<br>
            7- Limite la surcharge Pondérale8- Maintien un équilibre Psychologique<br>
            9- Retarde le Seuil de Dépendance<br>
            10- Moyen de prévention et de contrôle des MNT</p>
        </div>
      </div>
      <!-- End Tab One - Masters -->

    </div>
  </div>
  <!-- Left Content - Tabs and Carousel -->


</div>


