
<!-- layout-->
<div id="layout">
  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Groups List</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container padding-top">
      <div class="groups-list page-group">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h5><a href="groups.html">GROUP A</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/rusia.png" alt="">
                    Russia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/arabia.png" alt="">
                    Saudi Arabia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/egy.png" alt="">
                    Egypt
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/uru.png" alt="">
                    Uruguay
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="groups.html">GROUP B</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/por.png" alt="">
                    Portugal
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/esp.png" alt="">
                    Spain
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/mar.png" alt="">
                    Morocco
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/irn.png" alt="">
                    IR Iran
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list.html">GROUP C</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/fra.png" alt="">
                    France
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/aus.png" alt="">
                    Australia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/per.png" alt="">
                    Peru
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/den.png" alt="">
                    Denmark
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list.html">GROUP D</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/arg.png" alt="">
                    Argentina
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/isl.png" alt="">
                    Iceland
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/cro.png" alt="">
                    Croatia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/nga.png" alt="">
                    Nigeria
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list-html.html">GROUP E</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/bra.png" alt="">
                    Brazil
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/sui.png" alt="">
                    Switzerland
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/costa-rica.png" alt="">
                    Costa rica
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/srb.png" alt="">
                    Serbia
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list-html.html">GROUP F</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/ger.png" alt="">
                    Germany
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/mex.png" alt="">
                    Mexico
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/swe.png" alt="">
                    Sweden
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/kor.png" alt="">
                    Korea Rep
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list-html.html">GROUP G</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/bel.png" alt="">
                    Belgium
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/pan.png" alt="">
                    Panama
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/tun.png" alt="">
                    Tunisia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/eng.png" alt="">
                    England
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5><a href="group-list-html.html">GROUP H</a></h5>
            <div class="item-group">
              <ul>
                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/pol.png" alt="">
                    Poland
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/sen.png" alt="">
                    Senegal
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/colombia.png" alt="">
                    Colombia
                  </a>
                </li>

                <li>
                  <a href="single-team.html">
                    <img src="assets/img/clubs-logos/japan.png" alt="">
                    Japan
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newsletter -->
    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
              <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
            </div>
            <form id="newsletterForm" action="http://html.iwthemes.com/sportscup/run/php/mailchip/newsletter-subscribe.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                    <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                  </div>
                </div>
              </div>
            </form>
            <div id="result-newsletter"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Newsletter -->
  </section>
  <!-- End Section Area -  Content Central -->
</div>
<!-- End layout-->
