
<!-- Item Player -->
  <div class="forward">
  <div class="item-player">
    <div class="head-player">
      <img alt="location-team" src="assets/img/Logo vectoriel FTA typo 2 (2) (2).png"/>
    </div>
    <div class="info-player">
                                    <span class="number-player">
                                        13
                                    </span>
      <h4>
        {{player.prenom}} {{player.nom}}
      </h4>
      <ul>
        <li><strong>CLUB:</strong> <span>{{player.club}}</span></li>
        <li>
          <strong>LIEU DE NAISSANCE:</strong> <span> {{player.lieu}} </span>
        </li>
        <li><strong>DATE DE NAISSANCE:</strong> <span>{{player.ddn}}</span></li>
      </ul>
    </div>
    <a class="btn" routerLink="single-player/{{player.id}}">View Player <i aria-hidden="true"
                                                            class="fa fa-angle-right"></i></a>
  </div>

<!-- End Item Player -->
  </div>
